<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="provider" value="System.Data.SqlClient" />
		<add key="connectionString" value= "Data Source=(localdb)\\MSSQLLocalDB;Initial Catalog=MSSQLLocalBank;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
	</appSettings>
	<connectionStrings>
		<add name ="AutoLotSqlProvider" connectionString = "Data Source=(localdb)\mssqllocaldb;Integrated Security=true;Initial Catalog=AutoLot"/>
		<add name ="AutoLotOleDbProvider" connectionString = "Provider=SQLNCLIll;Data Source^(localdb)\mssqllocaldb;Integrated Security=SSPI;Initial Catalog=AutoLot"/>
	</connectionStrings>
</configuration>